version: "3.9"

services:
  storage-service:
    build:
      context: .
      dockerfile: AntiPlagiarism.StorageService.Host/Dockerfile
    container_name: storage-service
    ports:
      - "5001:8080"         # прямой доступ: http://localhost:5001/swagger
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    volumes:
      - storage_uploads:/app/uploads

  check-service:
    build:
      context: .
      dockerfile: AntiPlagiarism.CheckService.Host/Dockerfile
    container_name: check-service
    ports:
      - "5002:8080"         # прямой доступ: http://localhost:5002/swagger
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - StorageService__BaseUrl=http://storage-service:8080

  api-gateway:
    image: nginx:alpine
    container_name: api-gateway
    ports:
      - "8080:80"           # единый вход: http://localhost:8080
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - storage-service
      - check-service
      - scalar

  scalar:
    image: scalarapi/api-reference:latest
    container_name: scalar
    depends_on:
      - storage-service
      - check-service
    environment:
      API_REFERENCE_CONFIG: |
        {
          "theme": "purple",
          "sources": [
            { "url": "/storage/openapi.json", "title": "Storage API" },
            { "url": "/check/openapi.json", "title": "Check API" }
          ],
          "servers": [
            {
              "url": "http://localhost:8080",
              "description": "Development"
            }
          ]
        }

volumes:
  storage_uploads:
